.view-attendees {
	margin: 25px 0 0 0;
	
	a {
		color: #fff;

		&:hover {
			text-decoration: none;
		}
	}
	img {
		width: 100%;
	}
	.views-row {
		margin: 0;
		padding: 0;
		position: relative;
	}
	.text {
		background-color: rgba(8, 38, 55, .5);
		padding: 20px;
		position: absolute;
		bottom: 0;
		width: 100%;

		* {
			line-height: 100%;
		}
	}
	.name {
		font-size: 22px;
		text-transform: uppercase;
	}
	.organization {
		font-size: 16px;
	}
	.name, .organization {
		font-weight: bold;
		color: #fff;
		@include text-shadow(0 2px #355260);
	}
	.view-content {
		overflow: hidden;
	}
	.pager {
		margin-top: 40px;

		li {
			margin: 0;

			a {
				color: #000;
				@include border-radius(5px);
			}
		}
	}
}